@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans_serif';
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

}

.container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  background: url(https://w0.peakpx.com/wallpaper/300/820/HD-wallpaper-pink-clouds-cloud-pink-sky-diego-ph-blue.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;

}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://w0.peakpx.com/wallpaper/300/820/HD-wallpaper-pink-clouds-cloud-pink-sky-diego-ph-blue.jpg) no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
  border: none;
  outline: none;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.container .reg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
}

.btn {
  width: 100%;
  height: 100%;
  background: rgb(7, 142, 245);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #e4e4e4;
  font-weight: 800;
  box-shadow: 0 0 10px rgba((0), 0, 0, .5);
}

.btn:hover {
  cursor: pointer;
  background: #1fa4fd;
  box-shadow: 0 0 5px #1fa4fd,
    0 0 15px #1fa4fd;
}







.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  pointer-events: none;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
}

.navbar .btn {
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
}








.text-sci h2 {
  font-size: 32px;
  line-height: 1;
}

.text-sci h2 span {
  font-size: 25px;
}

.text-sci p {
  font-size: 16px;
  margin: 20px 0;
}

.social-icons a i {
  font-size: 24px;
  color: #e4e4e4;
  margin-right: 10px;
  transition: .5s ease;
}

.social-icons a:hover i {
  transform: scale(1.2);
}






.reg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e4e4e4;
  padding: 0px 10px;
}

.reg-box h2 {
  font-size: 32px;
  text-align: center;
}

.reg-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0;
  text-align: center;
  align-items: center;
}

.reg-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  padding-right: 20px;

}

.reg-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 19px;

}

.reg-box .instruc {
  font-size: 16px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}



/* Interest page */

.container-1 {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  background: url('https://www.reuters.com/resizer/EtU2HraXmfOLnMncB2nZoz7pikk=/1920x1005/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/CFX5ZZJ7ABIUVJ5A36QFQF5RF4.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;

}

.background-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.reuters.com/resizer/EtU2HraXmfOLnMncB2nZoz7pikk=/1920x1005/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/CFX5ZZJ7ABIUVJ5A36QFQF5RF4.jpg') no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
  border: none;
  outline: none;
}

.container-1 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.container-1 .reg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
}

.btn-1 {
  width: 100%;
  height: 100%;
  background: rgb(7, 142, 245);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #e4e4e4;
  font-weight: 800;
  box-shadow: 0 0 10px rgba((0), 0, 0, .5);
}

.btn-1:hover {
  cursor: pointer;
  background: #1fa4fd;
  box-shadow: 0 0 5px #1fa4fd,
    0 0 15px #1fa4fd;
}



/* Thank you page */

.container-2 {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  background: url(https://wallpapers.com/images/featured/dxhvdcplq0s02jat.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;

}

.background-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://wallpapers.com/images/featured/dxhvdcplq0s02jat.jpg) no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
  border: none;
  outline: none;
}

.container-2 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.container-2 .reg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
}
