<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <title>Thank You</title>
</head>

<body>
  <div class="background-2"></div>
  <div class="container-2">
    <div class="content">
      <h2><i class='bx bxs-news'></i>Journal.ai</h2>
      <div class="text-sci">
        <h2>Thank You for Registering!</h2>
        <p><span> Email: <%= email %></span></p>
        <p>We appreciate your interest and registration. You will now receive weekly emails with recommended journals
          and articles based on your specified interests.</p>
        <p>The emails will be sent every [insert day/time] to the email address you provided during registration.</p>
      </div>
    </div>
    <div class="reg-box-1">

    </div>
  </div>
</body>

</html>
